@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Teko:wght@400;500;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}


.modal-dialog {
    top: 12%;
}

.dropul {

    display: none;
    position: absolute;
    visibility: hidden;
    background-color: #FFFFFF;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    top: 5rem;

}






.car-img {
    width: 5rem !important;
}
.dli {
    list-style: none;
    color: #3e3e3e78 !important;
}

.dropm:hover .dropul {
    visibility: visible !important;

    display: block !important;
}

.navbar {
    border-bottom: 1px rgba(128, 128, 128, 0.439) solid !important;
    padding: 1.2rem 5rem !important;
    background-color: #FFFFFF !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 9999;
}

.logodiv {
    margin-right: 5rem;
}

.logo {
    width: 6.5rem;
}

.bi-search {
    font-size: 1.2rem;
}

.dis2none {
    display: none;
}

.toggle-btn {
    border: none;
    background-color: transparent;
}

.bi-list {
    font-size: 3rem;
    color: #F26F15;
}
.fp-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F26F15;
    transition: width .3s ease-in-out;

}
.fp-link:hover::after{
    width: 100%;
    transition: width .3s ease-in-out;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F26F15;
    transition: width .3s ease-in-out;

}

.nav-link:active::after {
    width: 100%;
    height: 2px;
}

.nav-link:hover {
    color: #f26f15 !important;
    transition: color 0.5s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s ease-in-out;

}

/* .nav-link:hover{
    border-bottom:solid 2px #F26F15 ;
    color: #F26F15 !important;
    transition: color 0.5s ease-in-out;
} */
.nav-link {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.05rem;
    color: #3E3E3E !important;


}

.callanytime {
    font-family: 'Teko', sans-serif;
    color: #3E3E3E;
}

.call91 {
    font-family: 'Teko', sans-serif;
    color: #3E3E3E;
}

.phimg {
   width: 100%;

    margin-right: 0px;

}

.content {
    margin-top: 12rem;
}

.heading1 {
    font-weight: 500;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* or 130% */


    color: #3E3E3E;
}

.heading2 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 170%;
    margin-bottom: 2rem;

    color: #3E3E3E;

}

.heading3 {
    font-weight: 500;
    font-size: 0.875rem;
    color: #3E3E3E;
    margin-bottom: 8rem;
}

.better {
    font-weight: 500;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* or 130% */


    color: rgba(242, 119, 34, 1);

}
.accor{
    background-color: #F26F15 !important;
}
a{
    text-decoration: none !important;
}
.cards {
    width: fit-content;
    padding: 1.2rem 2rem !important;
    margin: auto;
}
.form{
    margin-top: 15rem !important;
   
}
.form-control{
    background-color: #3E3E3E !important;
    border: rgb(242, 119, 34) solid 2px !important;
}
.form-logo{
    width: 12rem !important;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}
input::-ms-value{
    color: rgb(242, 119, 34) !important;
}
input::placeholder{
    color: rgb(242, 119, 34) !important;
}
::placeholder{
    color: rgb(242, 119, 34) !important;
}
.btn-primary{
   color: #3E3E3E !important;
   background-color: rgb(242, 119, 34) !important;
    border: rgb(242, 119, 34) solid 2px !important;
    font-weight: 500 !important;
}
.form-body{
   background-color:#3E3E3E;
}
.btn-get {
    
    width: 15.0625rem;
    height: 4.4375rem;

    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #F26F15;
    border-radius: 0.625rem;
    border: none;
    position: relative;
   
    margin-bottom: 2rem;
    box-shadow: 0 0 0 0 rgba(242, 119, 34, 1);

    animation: pulse-red  1.5s infinite;
}

  
  @keyframes pulse-red {
    0% {
     
      box-shadow: 0 0 0 0 rgba(242, 119, 34, 0.7);

    }
    
    70% {
    
      box-shadow: 0 0 0 15px rgba(255, 82, 82, 0);
    }
    
    100% {
    
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }
.btn-link {
    position: relative;
   
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none !important;
    border: none;
    color: #fff;
}
.btn-link:hover{
    color: #ffffff !important; 
}



.img-icon {
    height: 1.875rem;
}

.heading-p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 170%;
    /* or 34px */


    color: #3E3E3E;

}

.phone2img {
    display: block;
    margin: auto;
}

.row2 {
    padding-top: 4.75rem;
}

.ro1 {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
}

.you {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* or 130% */


    color: #FFFFFF;

}

.you1 {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* or 130% */


    color: #3E3E3E;

}

.all {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* or 130% */


    color: #F27017;

}

.we {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* or 130% */


    color: rgba(252, 178, 127, 1);
}

.atp {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 170%;
    /* or 34px */


    color: #FFFFFF;
}

.logimg {
    margin-bottom: 2.25rem;
}

.atp2 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 170%;
    /* or 34px */


    color: #3E3E3E;
}

.heading4 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.75rem;
    /* identical to box height, or 167% */
    margin-bottom: 2.25rem;

    color: #FFFFFF;
}

.ph1 {
    display: block;
    margin: auto;
}

.ph2 {
    display: block;
    margin: auto;
}

.ph3 {
    display: block;
    margin: auto;
}

.cards p {
    font-weight: 500;
    font-size: 1.5rem;

    color: #3E3E3E;
}

.cards {
  
    background: #FFFFFF;
    border: 1px solid #F26F15;
    border-radius: 1.25rem;
    padding: 1.2rem;
   
}

.row3 {
    position: relative;
    padding-top: 17rem;
    padding-bottom: 4.75rem;
}

.orange {
    position: absolute;
    background: #F26F15;
    border-radius: 3.75rem;
    padding: 4.125rem 7rem;
    transform: translateY(-34rem);
    text-align: center;
}

.orange h2 {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 3.75rem;
    color: #FFFFFF;
}

.orange p {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 3.75rem;
    /* identical to box height, or 200% */


    color: #FFFFFF;
}

.talk {
    border: 2px solid #FFFFFF;
    border-radius: 4.375rem;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 1.4rem 4rem;
    background-color: transparent;
    width: 80%;
}


.bg-2 {
    background-color: #FFF7F2;
}

.i {
    width: 4.625rem;
}

.c-card {
    margin-bottom: 3.1rem;
}

.c-body h4 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.75rem;
    /* identical to box height, or 167% */


    color: #3E3E3E;

}

.c-body p {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 170%;
    /* or 34px */


    color: #3E3E3E;
}

.row4 {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
}

.mobile {
    font-weight: 700;
    font-size: 2.875rem;
    line-height: 3.75rem;
    /* identical to box height, or 130% */
    text-align: center;

    color: #3E3E3E;
}

.as {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 170%;
    /* or 41px */
    text-align: center;
    text-align: center;
    margin-bottom: 7.5rem;
    color: #3E3E3E;
}

.bg-footer {

    background-color: rgba(34, 36, 41, 1);
    position: relative;
}

.logo2 {

    width: 8.5rem;

}

.fp {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.75rem;
    /* identical to box height, or 167% */


    color: #ffffff78;
}
.fp-link {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 3.75rem;
    /* identical to box height, or 167% */


    color: #ffffff78;
}

.fh {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.75rem;
    /* identical to box height, or 167% */
    font-family: 'Teko', sans-serif;

    color: #ffffff;
}

.fi1 {
    width: 2.2rem;
}

.cop {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;


    color: #ffffff78;
}

hr {
    color: #ffffff78 !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.row5 {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;
    position: relative;
}

.chat {
    position: absolute;
    width: 18rem !important;
    bottom: 4rem;
    right: 1rem;
}

.mob-last {
    padding-bottom: 25rem;
}


@media screen and (min-width:1360px) and (max-width:2520px) {
    .toggle-btn {
        display: none;
    }
}

@media screen and (min-width:1701px) and (max-width:1920px) {
    .toggle-btn {
        display: none;
    }
    * {
        font-size: 0.8rem;
    }

}
@media screen and (min-width:1401px) and (max-width:1700px) {
    * {
        font-size: 0.8rem;
    }

}

@media screen and (min-width:1200px) and (max-width:1400px) {


    * {
        font-size: 0.8rem;
    }

    .toggle-btn {
        display: none;
    }

    .ph1 {
        width: 25rem;
    }

    .ph2 {
        width: 25rem;
    }

    .ph3 {
        width: 25rem;
    }

    .cards {
      
       
        

    }

    .car-img {
        width: 4rem !important;
    }

    .cards p {
        font-size: 1.2rem !important;
    }


}

@media screen and (min-width:992px) and (max-width:1199px) {
    * {
        font-size: 0.6rem;
    }

    .toggle-btn {
        display: none;
    }
    .ph1 {
        width: 25rem;
    }

    .ph2 {
        width: 25rem;
    }

    .ph3 {
        width: 25rem;
    }
   
}

@media screen and (min-width:768px) and (max-width:991px) {
    .car-col{
        padding: 0rem 5rem !important;
    }
    .cards p {
        font-weight: 500;
        font-size: 1.2rem;
        color: #3E3E3E;
    }
    .car-img{
        width:3.125rem;
    }
    .logimg {
        width: 20rem !important;
        display: block;
        margin: auto;
    }
    * {
        font-size: 0.70rem;
    }

    .dis2none {
        display: block !important;
    }

    .dis-none {
        display: none;
    }

    .main {
        display: none;
    }

    .content {
        width: 100% !important;
    }

    .ph1 {
        width: 27rem;
    }

    .ph2 {
        width: 27rem;
    }

    .ph3 {
        width: 27rem;
    }

    .phone2img {
        width: 15rem;
    }

    .orange {
        position: absolute !important;
        background: #F26F15 !important;
        border-radius: 2.75rem !important;
        padding: 2.125rem 4rem !important;
        transform: translateY(-38rem) !important;

    }
}

@media screen and (min-width:300px) and (max-width:767px) {
    
    .car-col{
        padding: 0rem 2rem !important;
    }.navbar {
        padding: 1.2rem 1.2rem !important;

    }

    * {
        font-size: 0.75rem;
    }

    .dis2none {
        display: block !important;

    }

    .content {
        padding-top: 2rem !important;
    }

    .dis-none {
        display: none;
    }

    .main {
        display: none;
    }

    .content {
        width: 100% !important;
        text-align: center;
        justify-content: center !important;
        padding-top: 8rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .ph1 {
        width: 20rem;
        margin-top: 1.5rem;
    }

    .ph2 {
        width: 20rem;
        margin-top: 1.5rem;
    }

    .ph3 {
        width: 20rem;
        margin-top: 1.5rem;
    }

    .phone2img {
        width: 13rem;
    }

    .orange {
        position: absolute !important;
        background: #F26F15 !important;
        border-radius: 2.75rem !important;
        padding: 2.125rem 4rem !important;
        transform: translateY(-38rem) !important;

    }

    .row5 {
        text-align: center;
        padding-bottom: 2rem !important;
        padding-top: 2rem !important;
    }

    .icon-center {
        justify-content: center;
    }

    .mbm {
        margin-bottom: 2rem;
    }

    .chat {
        display: none;
    }

    
    .card-img {
        width: 4.5rem !important;
    }
    .cards{
        width: fit-content;
    }
    .cards p {
        font-size: 1.5rem !important;
    }

    .ro1 {
        padding-top: 0rem !important;
        padding-bottom: 2rem !important;
    }

    .ro1p {
        padding-top: 2rem !important;
        padding-bottom: 0rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .heading3 {
        margin-bottom: 2rem;
        text-align: center !important;
    }

    .heading-p {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 170%;
        color: #3E3E3E;
        text-align: center;
    }

    .logimg {
        width: 15rem;
        display: block;
        margin: auto;
    }

    .row2 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        text-align: center;
    }

    .row3 {
        padding-top: 10rem !important;
        padding-bottom: 2rem !important;
         justify-content: center !important;
        text-align: center;
        display: flex !important;
    }

    .row4 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .px2 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .py2 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .x-center {
        text-align: center;
    }

    .flip {
        flex-direction: column-reverse !important;

    }

    .mobile {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .you1,
    .all,
    .heading1,
    .better,
    .you,
    .we {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .as {
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }

    .atp2 {
        font-size: 1.3rem;

    }

    .orange {

        padding: 2.125rem 4rem !important;
        transform: translateY(-42rem) !important;
    }

    .orange button {
        border: 1px solid #FFFFFF;
        border-radius: 4.375rem;
        font-weight: 500;
        font-size: 1.2rem;
        color: #FFFFFF;
        padding: 1.6875rem 6.75rem;
        width: 100%;
        background-color: transparent;
    }

    .orange h2 {
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 2.7rem;
        color: #FFFFFF;
        margin-bottom: 1.8rem;
    }

    .orange p {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 2.5rem;
        color: #FFFFFF;
    }

    .mmt {
        margin-top: 12rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin-bottom: 2rem;

    }

    .mob-last {
        padding-bottom: 14rem;
        padding-top: 2rem !important;
    }

    .c-body h4 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #3E3E3E;
    }

    .heading4 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 500;
        margin-top: 1.5rem;
    }
}